<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel Trip</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.scss">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel Trip App
    </div>
    <main class="main">

  
      <section id="addTripSection" class="section__about ">
        <div class="map__wrapper">
          <div class="about__map">
            <h1 class="headerQuestion">Where do you want to travel? </h1>
            <a href="#" class="addButton">add trip!</a>
          </div>
        </div>
      </section>
  
  
      <section id="tripInfo" class="invisible">
        <div class="container">
          <form id="form">
            <h2>Plan your trip</h2>
            <input class="formInput" type="text" name="from" placeholder="From"
              autocomplete="off" required>
            <input class="formInput" type="text" name="to" placeholder="To" autocomplete="off"
              required>
            <label for="date">trip date is:</label>
            <input class="formInput" type="date" name="date" required>
            <input type="submit" class="inputSubmit" name="submit" value="Submit">
          </form>
        </div>
      </section>
  
  
      <section id="result" class="resultStyle invisible">
        <div class="container results">
          <div>
            <img src="./img/placeHolder.png" alt="destination image" id="fromPixabay">
          </div>
          <div>
  
            <h2>Your destination is: <span id="city"></span></h2>
            <h2>Departing on: <span id="date">DD/MM/YYYY</span></h2>
              <h2>it's <span id="days"> (number) </span> days away</h2>
              <h2>Typical weather for then is: <span id="temp">30C</span> &#176; F,
                <span id="summary"></span>.</h2>
            <a class="button" id="save" href="#">Print your trip info!</a>
            <a class="button" id="delete" href="#">Delete the trip</a>
  
          </div>
        </div>
      </section>
    </main>

  </div>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>